.titleLoginRegister {
  color: #8f95fd;
  font-size: 3em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
  0 1px 0 #6d73d3,
    0 2px 0 #4e53b8,
    0 3px 0 #3c3fa5,
    0 4px 0 #2e308f,
    0 5px 0 #1f207a,
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15),
    0 30px 30px rgba(0,0,0,.1);
}

.titleLoginRegister {
  text-align: center;
}

.btn span {
  font-size: 1.3em;
}

.area button {
  padding: 12px 60px;
  margin: 0 auto !important;
  margin-top: 1em !important;
}

@media screen and (max-width: 425px) {

  .titleLoginRegister {
    font-size: 2em;
  }
}